<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C52067141CBD7AB400D9239F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C52067281CBD7AB500D9239F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C52067331CBD7AB500D9239F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
